NODE_ENV=development
PORT=3000
JWT_SECRET=n7uulanZSmqUNVJxtJlL8egD6LJIhKlukn9rrtvA8PFm6leOojGTf6gCakcBdad
JWT_EXPIRATION_MINUTES=15
MONGO_URI=mongodb://mongodb:27017/express-rest-es2017-boilerplate
MONGO_URI_TESTS=mongodb://mongodb:27017/express-rest-es2017-boilerplate
